<!-- <div class="user"> -->
    <table class="table table-striped">
      <tr><td>Login:</td><td>{$userDetail[login]}</td></tr>
      <tr><td>Email:</td><td>{$userDetail[email]}</td></tr>
      <tr><td>Jméno:</td><td>{$userDetail[jmeno]}</td></tr>
    </table>
<!-- </div> -->
