{block content}
    <h1 n:block=title>O projektu</h1>
    <p>
        Projekt "Objednávkový portál Krajči plus s.r.o." vznikl z důvodu zkvalitňování
        služeb pro koncové zákazníky.
    </p>
{/block}
