{block content}
    <h1 n:block=title>Objednávkový portál Krajči plus s.r.o.</h1>
    <p>
        Vítejte v objednávkovém systému společnosti Krajči plus.r.o.
    </p>
{/block}

{* This is the welcome page, you can delete it *}
{*
{block scripts}
{include parent}
{/block}
*}
