{block content}
    <div class="panel panel-info">
		<div class="panel-heading">
            <h1 n:block=title>Objednávkový portál Krajči plus s.r.o.</h1>
        </div>
		<div class="panel-body">
			<p>
				Vítejte v objednávkovém systému společnosti Krajči plus.r.o.
			</p>
		</div>
	</div>
{/block}

{* This is the welcome page, you can delete it *}
{*
{block scripts}
{include parent}
{/block}
*}
