@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.row {
	margin-top: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.baleni {
    text-align: right;
}

.big-checkbox {
   width: 30px!important; 
   height: 30px!important; 
}

/* @media (max-width: 768px) { */
@media (max-width: 992px) {
    .baleni {
        text-align: left;
    }
    .row {
       margin-top: 5px;
       padding-top: 5px;
       padding-bottom: 5px;
    }
      
  }






/* ================= ================== ================= */
/* ================= ================== ================= */
/* ================= CUSTOM STYLE DUSAN ================= */ 
/* 					LAST UPDATE : 19.06.2022, XX:XX:XX      */
/* ================= ================== ================= */
/* ================= ================== ================= */

/* COLORS KRAJCI for copying
#f8f8f8	- gray soft (backgrounds etc)
#f2f2f2	- gray medium (backgrounds etc)
#adadad	- gray (headers, other typography)
#333333	- gray dark (buttons bgs etc)
#e5e5e5  - gray borders

#e30613	- red krajci / hovers

#1E1E2D 	- zkusebni pozadi sidebar / top / foot
*/


/* FONT CUSTOM */
body {
   font-family: 'Poppins', sans-serif;
}
/* FONT CUSTOM end */



/* EFFECTS , TRANSITIONS */
a, .btn {
	transition: all .2s;
}
/* EFFECTS , TRANSITIONS end */



/* COLORS KRAJCI*/
body {
   background: #f8f8f8;
}
#sidebar-wrapper, 
.navbar-inverse,
footer .w3-black {
   background: #1E1E2D !important;
}
a {
   color: #e30613;
	font-weight: 600;
}
a:hover {
   color: #333333;
}

.bg-bramburky, .panel-bramburky {
   background: #ffedd7 !important;
	border: 1px solid #fff;
}
.bg-snacky, .panel-snacky {
   background: #f2dede !important;
	border: 1px solid #fff;
}
.bg-tycinky, .panel-tycinky {
   background: #ded9f7 !important;
	border: 1px solid #fff;
}
.bg-plody, .panel-plody {
   background: #d9f6f7 !important;
	border: 1px solid #fff;
}
.bg-gray-head, .panel-gray-head {
   background: #ededed;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight: 600;
}
/* COLORS KRAJCI end */


/* PADDINGS */
.padbottom0 {
    padding-bottom: 0px;
}
/* PADDINGS end */


/* BUTTONS */
.btn {
    padding: 13px 30px;
    line-height: 17px;
}
.btn-primary {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #000;
    border-color: #000;
}

.btn-group-justified .btn-primary, .btn-group-justified .btn-danger {
    border-color: #fff;
}
.w3-red {
    color: #fff!important;
    background-color: #22a124!important;
}
.w3-red:hover {
    background-color: #1a8b1b!important;
}

.btn .glyphicon {
   margin-right: 5px;
}
.btn.btn-number {
   color: #fff; 
	background-color: #333333;
    border-color: #333333;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: rgb(0 0 0 / 5%) !important;
    border: 1px solid rgb(221 221 221 / 0%);
}
/* BUTTONS end */



/* ICONS */
.nav-tabs .panel-bramburky a:before, .nav-tabs .panel-snacky a:before, .nav-tabs .panel-tycinky a:before, .nav-tabs .panel-plody a:before,
.panel .panel-bramburky h4>a:before, .panel .panel-snacky h4>a:before, .panel .panel-tycinky h4>a:before, .panel .panel-plody h4>a:before {
	content: "";
	display: block;
	float: left;
	position: relative;
	top: -2px;
	margin-right: 15px;
	text-indent: -9999px;
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
}
.nav-tabs .panel-bramburky a:before,
.panel .panel-bramburky h4>a:before {
	background-image: url(/images/ico-bramburky.svg);
}
.nav-tabs .panel-snacky a:before,
.panel .panel-snacky h4>a:before {
	background-image: url(/images/ico-snacky.svg);
}
.nav-tabs .panel-tycinky a:before,
.panel .panel-tycinky h4>a:before {
	background-image: url(/images/ico-tycinky.svg);
}
.nav-tabs .panel-plody a:before,
.panel .panel-plody h4>a:before {
	background-image: url(/images/ico-suche.svg);
}
/* ICONS end */



/* BODY, SIDEBAR, CONTENT BLOCKS */ 
#page-content-wrapper {
	/* height: calc(100vh - 40px); */
	min-height: 100vh;
}
.container-fluid {
   padding-right: 30px;
   padding-left: 30px;
}
/* BODY, SIDEBAR, CONTENT BLOCKS end */ 


/* SIDEBAR MENU */ 
.sidebar-nav li {
    line-height: 25px;
    text-indent: 0px;
    text-align: center;
}
.sidebar-nav li a {
    padding-left: 0px;
}
.sidebar-nav .menuicon {
   	text-align: center;
	display: block;
}
.sidebar-nav .menuicon .glyphicon {
   	font-size: 15px;
	color: #fff;
}
.sidebar-nav .menutext {
   	text-align: center;
	font-weight: 400;
}
/* SIDEBAR MENU end */ 



/* PANELS*/
.panel {
    margin-bottom: 40px;
}
.panel-success {
    border-color: #ddd;
}
.panel-success>.panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
}
.panel-info {
    border-color: #e5e5e5;
}
.panel-info>.panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ffffff;
}
.panel-zbozi>.panel-heading {
    border: 0px;
}
.panel-zbozi .panel-body {
    border: none !important;
}
.panel-zbozi h4>a {
    padding: 10px 0px;
	 display: block;
	 color: #e30613;
}
.panel-zbozi .panel-body {
    padding: 15px 0px;
}
/* PANELS end */


/* LIST GROUPS */
.list-group-item-filter {
	background-color: #e0e0f1 !important;
	border-radius: 4px !important;
	border: 1px solid #e0e0f1;
	border-right-color: #fff;
	border-left-color: #fff;
	margin-bottom: 2px;
}
.list-group-item-filter:hover {
  	background-color: #d2d2e5 !important;
}
.list-group-item .glyphicon {
  	color: #1e1e2d;
   margin-right: 5px;
}
.bg-list-content>div:nth-of-type(even) {
    background-color: #f9f9f9;
}
.bg-list-content div.row {
    margin-top: 0px;
	 border-bottom: 1px solid #ddd;
}
/* LIST GROUPS end */


/* TABLES */
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 10px;
   line-height: 1.42857143;
   vertical-align: baseline;
   border-top: 1px solid #ddd;
}
.table-wrap table>thead>tr {
	background: #ededed;
   border-bottom: 1px solid #ddd;
   border-top: 1px solid #ddd;
   font-weight: 600;
}
/* TABLES end */


/* FORMS */
.input-text, .input-text:focus,
.input-number, .input-number:focus {
   background: #FFFFFF;
   border: 1px solid #333333;
   border-radius: 5px;
   color: #333333;
   box-shadow: none !important;
	padding: 10px;
}

.form-group input.button {
	width: 100%;
}

.form-package label {
	width: auto;
   margin-right: 20px;
}
.form-package label.form-check-label>.big-checkbox {
	vertical-align: middle;
   margin: 0;
}
.form-package input.nmpd-target {
	padding: 20px;
	min-width: 320px;
   background-color: #fff;
}

/* FORMS end */


/* JQUERY NUMPAD */
.nmpd-wrapper {display: none;}
.nmpd-target {cursor: pointer;}
.nmpd-grid {position:absolute; left:50px; top:50px; z-index:5000; -khtml-user-select: none; padding:10px; width: initial;}
.nmpd-overlay {z-index:4999;}
input.nmpd-display {text-align: right;}
/* JQUERY NUMPAD end */



/* 
***************************
***************************
***************************
RESPONSIVE 
***************************
***************************
***************************
*/

@media (max-width: 767px) {
	.panel {
		 margin-bottom: 20px;
	}
	.container-fluid {
		 padding-right: 15px;
		 padding-left: 15px;
	}
	.panel-filter>.container-fluid {
		 padding-right: 30px;
		 padding-left: 30px;
	}
	.btn-group-justified a.btn {
		display: block;
		width: 100%;
		border-radius: 4px !important;
		margin: 0px 0px 5px 0px !important;
	}
	.list-group-item-filter {
		margin-bottom: 5px;
	}
	.col-name {
		display: block;
		padding-bottom: 10px;
	}
	.form-package input.nmpd-target {
		margin-bottom: 20px;
		min-width: 100%;
	}
	
	
	.table-wrap table,
	.table-wrap thead,
	.table-wrap tbody,
	.table-wrap th,
	.table-wrap td,
	.table-wrap tr {
		display: block;
	}
	.table-wrap thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table-wrap td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%!important;
		white-space: normal;
		text-align: left;
	}
	.table-wrap td:before {
		position: absolute;
		top: 8px;
		left: 15px;
		width: 45%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
	}
	.table-wrap td:first-child {
		padding-top: 17px;
	}
	.table-wrap td:last-child {
		padding-bottom: 16px;
	}
	.table-wrap td:first-child:before {
		top: 17px;
	}
	.table-wrap td:before {
		content: attr(data-title);
	}
	.table tbody tr {
		border-top: 1px solid #ddd;
	}
	.table tbody tr td {
		border: none;
	}
}



